// -- General styles -- //
.button {
	background: $orange;
	border-color: darken($orange, 5%);
	font-size: 18px;
	font-family: 'share-regularregular', Arial, sans-serif;

	&:hover,
	&:focus,
	&:active {
		background-color: darken($orange, 5%);
	}
}
// Logo
#logo {
	margin: 30px 0 30px 0;
	float: left;
}
// Navigation
header .nine {
	padding: 0px;
}
@media only screen and (min-width: $screenSmall + 1) {
	.navbar {
		margin: 40px 0 0 0;
		background: transparent;
		float: right;
		list-style-position: inside;
		position: relative;

		li {
			display: inline;
			float: left;

			ul {
				display: none;
			}

			a {
				color: #464646;
				font-size: 18px;
				text-transform: uppercase;
				font-weight: bold;
				padding: 5px 15px 5px 15px;
				float: left;
			}

			&.active {
				background: $orange;

				a {
					color: $white;
				}

				ul {
					display: block;
					float: left;
				}
			}

			&:hover,
			&:active,
			&:focus {
				background: $orange;

				a {
					color: $white;
				}

				ul {
					display: block;
					float: left;
				}
			}

			ul {
				position: absolute;
				top: 31px;
				margin-left: 0px;
				background: url(../images/nav-arrow.gif) 12px 9px no-repeat;
				padding: 16px 0 0 0;

				li {
					background: #464646 url(../images/nav-divider.gif) left 50% no-repeat;
					padding: 0px 8px;

					&:hover,
					&:focus {
						background: #464646 url(../images/nav-divider.gif) left 50% no-repeat;
					}

					a {
						color: $white;
						text-transform: none;
						font-size: 12px;
						font-weight: normal;
						padding: 0px 8px;
						height: 24px;
						line-height: 24px;

						&:hover,
						&:focus,
						&:active {
							background: #333;
						}
					}

					&:first-child {
						background: #464646;
					}
				}
			}
		}

		&:hover,
		&:focus,
		&:active {
			li.active {
				ul {
					display: none !important;
				}
			}
		}
	}
}
// -- Stage -- //
#stage {
	background: url(../images/header-community.jpg) 50% top no-repeat;
	background-size: auto;
	color: $white;
	@include box-shadow(0px 0px 7px rgba($black, 0.8) inset);
	height: 385px;
	overflow: hidden;
	position: relative;

	h2 {
		margin: 0px;
		@include text-shadow(1px 1px 3px rgba($black, 0.6));
		text-align: center;
		font-size: 45px;
		text-transform: uppercase;
	}

	p {
		&.author {
			@include text-shadow(1px 1px 1px rgba($black, 0.4));
			float: right;
		}

		font-family: 'Share-Tech', Arial, sans-serif;
	}

	.twelve {
		position: absolute;
		top: 50%;
		margin-top: -25%;
	}
	.row {
		position: absolute;
		bottom: 0px;
		margin: 0px;
	}

	.four {
		background: rgba($black, 0.4);
		border-right: 1px solid rgba(#8c8c8c, 0.3);

		h3 {
			font-size: 23px;
			line-height: 37px;
			text-transform: uppercase;
			margin-bottom: 0px;
		}

		p {
			font-size: 18px;
			line-height: 19px;
			font-family: 'share-regularregular', Arial, sans-serif;
		}
	}
}

// -- Eye-Catcher -- //
#eye-catcher {
	text-align: center;
	margin-top: 30px;

	h1 {
		font-size: 45px;
		line-height: 37px;
		text-transform: uppercase;
		margin-bottom: 0px;
		color: #464646;

		strong {
			color: $orange;
		}
	}

	p {
		font-size: 30px;
		color: #7c7c7c;
		font-family: 'share-regularregular', Arial, sans-serif;
	}
}
// -- Special Content -- //
.special-content {
	@include background-image(linear-gradient(#f4f4f4, #f9f9f9));
	border-top: 1px solid #e0e0e0;
	position: relative;
	z-index: -1;
	padding: 45px 0 45px 0;
}
// Tiles
.tiles {
	position: relative;
	height: 100%;
	height: 400px;

	.columns {
		padding: 0px;
		height: 100%;
		overflow: hidden;
		color: $white;

		&:last-child {
			padding: 0 15px 0 15px;
			background: $orange;
		}
	}
	
	img {
		z-index: -1;
	}

	h2 {
		color: $white;
		font-size: 26px;
	}

	h3 {
		position: absolute;
		left: 0px;
		bottom: 0px;
		text-transform: uppercase;
		text-align: center;
		width: 100%;
		background: rgba($black, 0.4);
		margin: 0px;
		padding: 15px 0 15px 0;
	}

	p {
		color: $white;
	}
}
// Other content
.other-content {
	background-color: #f2f2f2;
	background-repeat: no-repeat;
	background-position: 100% bottom;
	//background-size: 23%;
	@include box-shadow(0px 2px 5px rgba($black, 0.3) inset);
	padding: 25px 0 0px 0;

	.row .row {
		margin: 0px;

		.columns {
			padding: 0px;
		}

	}

	h2 {
		font-size: 26px;
		color: #222222;
		font-weight: normal;
		font-family: 'share-regularregular', Arial, sans-serif;
	}

	h3 {
		font-size: 21px;
		color: #7C7C7C;
		font-weight: normal;
		font-family: 'share-regularregular', Arial, sans-serif;
		line-height: 26px;
	}
	.button {
		margin-bottom: 20px;
	}
}

// -- Footer -- //
footer {
	background: $white;
	@include box-shadow(0px 0px 5px rgba($black, 0.5));
	color: #464646;
	margin-top: -2px;

	a {
		color: #464646;

		&:hover,
		&:active,
		&:focus {
			color: #222222;
		}
	}

	ul.side-nav {
		li {
			display: inline;
			margin-right: 10px;

			a {
				display: inline;
				padding-right: 10px;
			}
		}
	}

	p {
		padding: 17px 0 17px 0;
	}
}