@media (max-width: 480px) {
	.navbar {
		margin: 26px 0 0 0;
		background: transparent;
		float: right;
		list-style-position: inside;
		position: relative;

		li {
			display: inline;
			float: left;

			a {
				color: #464646;
				font-size: 18px;
				text-transform: uppercase;
				font-weight: bold;
				padding: 3px 10px 0px 10px;
				float: left;
			}

			&.active {

				a {
					color: $orange;
				}

				li {
					a {
						color: #464646;
					}
				}
			}

			a {
				&:hover,
				&:focus,
				&:active {
					color: $orange;
				}
			}

			&.active ul,
			ul {
				display: block;
				float: left;
				margin-left: 0px;
				padding: 0px 0 10px 0;

				li {
					background: transparent;
					padding: 0px 5px;

					a {
						color: #464646;
						text-transform: none;
						font-size: 12px;
						padding: 0px 5px;
						height: 20px;
						line-height: 20px;
						background: transparent;
					}

					&.active a,
					a:hover,
					a:focus,
					a:hover {
						color: $orange;
					}
				}
			}
		}
	}

	#stage {
		h2 {
			font-size: 27px;
		}

		.mobile-three {
			border-right: 0px;
			border-bottom: 1px solid rgba(#8c8c8c, 0.3);

			&:last-child {
				border: 0px;
			}
		}
	}

	#eye-catcher {
		h1 {
			font-size: 35px;
			line-height: 35px;
		}

		p {
			font-size: 25px;
			line-height: 25px;
		}
	}

	.tiles {
		.columns {
			height: 170px;
		}
	}

	.other-content {

		background-size: 43%;
		.button {
			width: 50%;
		}
	}
}