@media only screen and (max-width: $screenSmall) {
	.nav-bar {
		font-size: 14px;

		> li {
			> a,
			> a:first-child,
			> a:last-child {
				font-size: 14px;
			}
		}
	}

	.tiles {
		height: 300px;

		h2 {
			font-size: 20px;
		}

		h3 {
			font-size: 20px;
		}

		p {
			font-size: 11px;
		}
	}

	.other-content {
		background-size: 33%;

		h2 {
			font-size: 20px;
		}

		h3 {
			font-size: 17px;
			line-height: 20px;
		}

		p {
			font-size: 11px;
		}

		.button {
			font-weight: normal;
		}
	}
}